---
import Container from "./Container.astro";
import SectionHeading from "./SectionHeading.astro";

const features = [
  {
    icon: "fa-solid fa-calendar",
    title: "Smart Calendar",
    description:
      "Intelligent booking and automated scheduling with drag and drop calendar control.",
    color: "text-primary",
    bgColor: "bg-lightBg",
  },
  {
    icon: "fa-regular fa-clock",
    title: "Flexible Session Management",
    description:
      "Custom session types, recurring appointments, and flexible scheduling controls.",
    color: "text-primary",
    bgColor: "bg-lightBg",
  },
  {
    icon: "fa-solid fa-user",
    title: "Integrated Client Records",
    description:
      "Link appointments directly with secure client profiles, intake forms, and session notes.",
    color: "text-primary",
    bgColor: "bg-lightBg",
  },
];
---

<section class="py-24 bg-white">
  <Container>
    <SectionHeading
      title="Powerfull Scheduling Tools"
      subtitle="All the Tools do you need to run enterprise."
    />

    <div class="grid md:grid-cols-3 gap-8">
      {
        features.map((feature) => (
          <div class="p-8 rounded-2xl border border-gray-100 hover:shadow-lg transition duration-300">
            <div
              class={`w-[50px] h-[50px] rounded-lg mb-5 flex items-center justify-center text-[25px] ${feature.bgColor} ${feature.color}`}
            >
              <i class={feature.icon} />
            </div>

            <h3 class="text-xl font-bold text-darkBlue mb-3">
              {feature.title}
            </h3>

            <p class="text-textGray leading-relaxed">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
